<div style="margin: auto; width: 80%">
  <form>
    <div class="question" *ngFor="let question of questions">
      <h3>{{ question.questionText }}</h3>
      <div class="options">
        <label>
          <input type="radio" name="question{{ question.id }}" value="A" />
          {{ question.optionA }}
        </label>
        <label>
          <input type="radio" name="question{{ question.id }}" value="B" />
          {{ question.optionB }}
        </label>
        <label>
          <input type="radio" name="question{{ question.id }}" value="C" />
          {{ question.optionC }}
        </label>
        <label>
          <input type="radio" name="question{{ question.id }}" value="D" />
          {{ question.optionD }}
        </label>
      </div>
    </div>
  </form>
</div>
